.header {
    background-color: rgba(0, 0, 255, 0.4);
    height: 100px;
}

.body {
    height: 600px;
}

.footer {
    height: 80px;
    background-color: rgba(0, 0, 255, 0.4);
}

.mat-tab-group {
    width: 100%;
}

// #input-id {
//     margin: auto;
// }
.block-1 {
    padding: 2%;
}