<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Project </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"></a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div class="body">
        <div class="row">
            <mat-tab-group>
                <mat-tab label="Create Session">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="block-1">
                                <mat-form-field>
                                    <input [(ngModel)]="sessionId" type="text" id="input-id" matInput placeholder="Input">
                                </mat-form-field>
                                <br>
                                <button mat-raised-button (click)="submitCreate()" color="primary">Create</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Second">
                    <div class="block-1"></div>
                </mat-tab>
                <mat-tab label="Third">
                    <div class="block-1"></div>
                </mat-tab>
            </mat-tab-group>
            <ul *ngFor="let item of sessions$">
                <li>{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="footer"></div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>